// import using ~
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/layout/section.sass";

.fitbitauth h1{
  font-size: 150%;
}

.fitbitauth h2{
  font-size: 120%;
}

.login {
  margin: 5em 1em;
}

.login h2 {
  font-size: 1.8em;
  padding-bottom: .5em;
}

.login input {
  width: 500px;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.logo{
  margin-top: 13px;
  margin-left: 15px;
}

.navbar-item {
  display: flex !important;
  text-transform: uppercase;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

.greeting {
  padding-top: 15px;
}