
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 300%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 2px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid #f39c12;
  color: #f39c12;
}

.btn:hover,
.btn:active{
    border: 1px solid #cf6d17;
    color: #fff;
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #cf6d17;
  color: #fff;

}