.login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../styles/images/Physical_4.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  font-size: 120%;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid #f39c12;
  color: #f39c12;
}

.btn:hover,
.btn:active{
    border: 1px solid #cf6d17;
    color: #fff;
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #cf6d17;
  color: #fff;

}

.login h2,
.login h3 {
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.login h2 {
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: left;
  margin-bottom: 40px;
}

.login-modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 50%;
  top: 50%;
  width: 100%;
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}