nav {
  margin-bottom: 200px;
}
.navbar {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  height: 60px;
}
img{
  height: 40px;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

li {
  margin-left: 1em;
}

a {
  margin-left: 1em;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
