.logo {
  height: 80px;
  width: auto;
  float: left;
  margin-top: 20px;
  margin-left: 60px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
